$color-black: #000000;

.calculator-field {
    .arithmetic-task {
        display: flex;
        flex-direction: column;
        .arithmetic-example {
            display: flex;
            justify-content: center;
            padding: 10px 0 30px;
            color: $color-black;
            font-size: 2vw;
        }
    }
}