
@keyframes rotateHero {
    from {
        transform: translate3d(100px, 40px, 0px) rotateX(0deg) rotate(3deg);
    }
    to {
        transform: translate3d(20px, 40px, 0px) rotateX(30deg) rotate(-5deg);
    }
}

.hero {
    animation-duration: 10s;
    animation-name: rotateHero;

    animation-iteration-count: infinite;
    animation-direction: alternate;

        & img {
            width: 95%;
        }

}
