@keyframes rotateHero {
  from {
    transform: translate3d(100px, 40px, 0px) rotateX(0deg) rotate(3deg);
  }
  to {
    transform: translate3d(20px, 40px, 0px) rotateX(30deg) rotate(-5deg);
  }
}

@keyframes flyFire {
  from {
    transform: translate3d(150px, 0px, 0px) rotateX(0deg) rotate(-55deg) scale(0.2, 0.2);;
  }
  to {
    transform: translate3d(700px, 0px, 0px) rotateX(20deg) rotate(-3deg) scale(1, 1);;
  }
}

.hero {
  animation-duration: 10s;
  animation-name: rotateHero;

  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin-top: 230px;

  & img {
    width: 95%;
  }

}

.fire-hero {

  position: absolute;
  width: 5%;
  right: 0;
  top: -100px;
  animation-duration: 3s;
  animation-name: flyFire;
  animation-iteration-count: infinite;
  animation-direction: normal;
  z-index: 5;
}

.hidden {
  display: none;
}
