.hidden {
    display: none;
}



.battle-field {
    width: 500px;
    height: 500px;
    background-image: url(/screens/battle/images/smow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    .hero-field {
        width: 30%;
    }
    .monster-field {
      width: 30%;
          }
    .progress {
      margin: 10px 0;
    }
    .button-position {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.playing-field {
    padding: 0;
   
    width: 100%;

  .names-participants {
    display: flex;
    justify-content: center;
    width: 45%;
  }
}