.hidden {
    display: none;
}



.battle-field {
    width: 500px;
    height: 500px;
    background-color: rgb(194, 191, 191);
    width: 100%;
    .hero-field {
        width: 30%;
    }
    .monster-field {
      width: 30%;
          }
    .progress {
      margin: 10px 0;
    }

}

.playing-field {
    padding: 0;
    /*background-image: url(./dist/screens/battle/images/smow.png);*/
    width: 100%;

  .names-participants {
    display: flex;
    justify-content: center;
    width: 45%;
  }
}