.sorting-task {
  display: flex;

  & .sort-items {
    width: 50px;
    height: 30px;
    border: 1px solid grey;
    text-align: center;
    margin: 0 0 0 5px;
    user-select: none;
  }
}

.empty {
  display: flex;
  padding: 1rem;

  & .answer-place {
    width: 50px;
    height: 30px;
    border: 1px solid grey;
    margin: 0 0 0 5px;
  }

  .answer-place {
    text-align: center;
  }
}
